/*************/
/* Desktop */
/*************/

@media screen and (max-width: 1286px) {
  .housing {
    flex-direction: column-reverse;
  }

  .lodging__container {
    display: block;
  }

  .lodging__flex {
    flex-direction: row;
    margin-bottom: 32px;
  }

  .lodging {
    grid-template-columns: repeat(2, 1fr);
  }
}

/*************/
/* Tablet */
/*************/

@media screen and (max-width: 992px) {
  .activity--container {
    flex-direction: column;
    height: 900px;
  }

  .activity__flex {
    flex-direction: row;
  }

  .activity__flex-odd {
    flex-basis: auto;
  }
}

@media (max-width: 821px) {
  .footer__container {
    flex-direction: column;
    gap: 32px;
  }

  .footer__item {
    width: 100%;
  }
}

/*************/
/* mobile */
/*************/

@media screen and (max-width: 768px) {
  .nav {
    display: flex;
    flex-direction: column;
  }

  .nav__img {
    margin: 24px 0 0 0;
  }

  .sub--nav {
    display: flex;

    width: 100%;

    text-align: center;
  }

  .nav__link {
    flex-grow: 1;
    padding-bottom: 12px;
  }

  .nav__link:hover {
    border-top-color: transparent;
    border-bottom-color: #0065fc;
  }

  .nav__link--active {
    border-top: transparent;
    border-bottom: 3px solid #0065fc;

    color: #0065fc;
  }

  .section__search {
    padding-left: 10px;
    padding-right: 10px;
  }

  .btn {
    border-radius: 10px;
    padding: 24px 16px;
  }

  .text__search {
    display: none;
  }

  .icon__search {
    display: block;
  }

  .lodging {
    padding: 12px;

    background-color: transparent;
  }

  .lodging__flex {
    flex-direction: column;
  }

  .popular {
    padding: 22px 12px 12px 12px;

    border-radius: 0;
  }

  .popular__card--container {
    gap: 10px;
  }

  .section__activity {
    padding: 0 10px;
  }

  .activity--container {
    height: 1450px;
    gap: 0px;
  }

  .card__activity {
    margin-bottom: 32px;
    height: 208px;
    gap: 0px;
  }

  .activity__flex {
    flex-direction: column;
    gap: 0px;
  }

  .activity__flex .activity__flex-large {
    flex-direction: row;
    max-width: 658px;
    max-height: 208px;
    display: block;
    gap: 0px;
  }

  .card__activity-large {
    margin-bottom: 32px;
  }

  .footer {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media screen and (max-width: 433px) {
  .header,
  .main {
    padding: 0 5px;
  }

  .input {
    max-width: 200px;
    font-size: 18px;
  }
}
